.season_line {
	width: 50px;
	height: 2.2px;
	background: #fff;
	margin-left: 15px;
	border-radius: 1.1px;
}
.header_slider {
	min-width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	overflow: hidden;
}
.slider_feed {
	min-width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	left: 0;
	display: flex;
}
.slider_item {
	width: 100vw;
	height: 100%;
	font-size: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110%;
	background-size: cover;
}
.selected_div {
	color: #00A550;
}
.selected_line {
	background-color: #00A550;
	width: 80px;
}




/*arrows */
.header-panel__arrow-left-body {
	height: 25%;
	width: 8%;
	top: 25%;
	left: -12%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
} 
.header-panel__arrow-right-body {
	height: 25%;
	width: 8%;
	top: 25%;
	right: -12%;
	position: absolute;
	display: flex;
	align-items: center;
} 
.header-panel__arrow-left {
	height: 40px;
	width: 40px;
	border: 3px solid #fff;
	border-radius: 6px;
	background-image: url('../../images/arrow-left.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	transition: .5s;
}
.header-panel__arrow-left:hover {
	background: #00A550;
	background-image: url('../../images/arrow-left.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
}
.header-panel__arrow-right {
	height: 40px;
	width: 40px;
	border: 3px solid #fff;
	border-radius: 6px;
	background-image: url('../../images/arrow-right.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;	
	transition: .5s;
}
.header-panel__arrow-right:hover {
	background: #00A550;
	background-image: url('../../images/arrow-right.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
}




/* Smartphones (landscape) ----------- */
@media only screen 
and (max-device-width : 899px) 
and (orientation : landscape) {
/* Styles */
	.header-panel__body {
		max-width: 90%;
	}
	.header-panel__title-text {
		font-size: 30px;
		width: 400px;
	}
	.header-panel__title-description {
		font-size: 13px;
		width: 390px;
		margin-bottom: 30px;
	}
	.header-panel {
		top: 0;
	}
	.header-panel__arrow-left-body {
		left: 50%;
		top: 105%;

	}
	.header-panel__arrow-right-body {
		right: 30%;
		top: 105%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 899px) 
and (orientation : portrait) {
/* Styles */
	.header-panel {
		top: 0;
	}
	.header-panel__body {
		max-width: 90%;
	}
	.header-panel__title-text {
		font-size: 28px;
		width: 218px;
	}
	.header-panel__title-description {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		width: 265px;
	}
	.header-menu__button {
		display: none;
	}
	.header-panel__arrow-left-body {
		left: 32%;
		width: 15%;
		top: 120%;
	}
	.header-panel__arrow-right-body {
		width: 15%;
		right: 32%;
		top: 120%;
	}
	.header-panel__seasons {
		bottom: -10%;
	}
	.season_panel {
		font-size: 14px;
	}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 900px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

	.header-panel__body {
		max-width: 900px;
	}
	.header-panel__arrow-left-body {
		left: 0%;
		top: 105%;
	}
	.header-panel__arrow-right-body {
		right: 80%;
		top: 105%;
	}
	
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	.header-panel__body {
		max-width: 700px;
	}
	.header-panel__title-text {
		font-size: 40px;
		width: 500px;
	}
	.header-panel__arrow-left-body {
		left: 0%;
		top: 105%;
	}
	.header-panel__arrow-right-body {
		right: 67%;
		top: 105%;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) 
and (max-device-width : 1300px){
	.header-panel__arrow-left-body {
		left: 0%;
		top: 105%;
	}
	.header-panel__arrow-right-body {
		right: 80%;
		top: 105%;
	}
}
