<meta http-equiv="pragma" content="no-cache"/>
<div class="slider_feed" id="spring_feed">
	<div class="slider_item" style="background: blue;"></div>
</div>

<script>
	$( document ).ready(function(){
	  $( "#left_arrow" ).click(function(){ // задаем функцию при нажатиии на элемент с классом start
	    var posright = $('#spring_feed').position();
		var positionr = -(posright.left);
		if (positionr != 0){
		    $( "#spring_feed" ).animate({
		      left: "+=100%",
		    });
		}
	  });
	});
</script>