<meta http-equiv="pragma" content="no-cache"/>
<div class="slider_feed" id="autumn_feed">
	
</div>
<script>
	$(document).ready(function() {
		var season = 3;
			$.ajax({
				url: 'handlers/header_slider.php',
				method: 'post',
				data: {idseason: season},
				success: function(data){
					var answer = JSON.parse(data);
					var slider_items ='';
					for (var i = 0; i < answer.links.length; i++) {
						slider_items = '<div class="slider_item" style="background-image: url('+answer.links[i].link+')"></div>' + slider_items;
					}
					$('#autumn_feed').html(slider_items);
				}
			});
		});
</script>