<meta http-equiv="pragma" content="no-cache"/>
<div class="slider_feed" id="summer_feed">
	<div class="slider_item" style="background-image: url('images/summer.jpg');"></div>
	<div class="slider_item" style="background: blue;"></div>
	<div class="slider_item" style="background-image: url('images/summer.jpg');"></div>
	<div class="slider_item" style="background: maroon;"></div>
	<div class="slider_item" style="background-image: url('images/summer.jpg');"></div>
	<div class="slider_item" style="background-image: url('images/summer.jpg');"></div>
	<div class="slider_item" style="background-image: url('images/summer.jpg');"></div>
	<div class="slider_item" style="background-image: url('images/summer.jpg');"></div>
	<div class="slider_item" style="background-image: url('images/summer.jpg');"></div>
</div>