.showcase_discounts {
	max-width: 1200px;
	margin: 0 auto;
}
.showcase_title-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.showcase_title {
	width: 60%;
	margin-top: 80px;
	margin-bottom: 60px;
}
.showcase_calendar {
	width: 40%;
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
}
.datepicker-here {
	display: none;
	position: absolute;
	bottom: -240px;
	left: -50px;
	z-index: 1000;
}
.discoint_desk {
	position: absolute;
	width: 200px;
	height: 100%;
	right: -200px;
	top: 0;
	border-radius: 0 10px 10px 0;
	background-color: #323232;
	box-sizing: border-box;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.discount_day_name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #FFFFFF;
}
.discount_size {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: #00A550;
}
.newclass {
	color: red;
}
.showcase_calendar_pic {
	width: 60px;
	margin-right: 20px;
}
.showcase_calendar_text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	width: 200px;
}

.showcase-body {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.showcase-item {
	width: 380px;
	margin-bottom: 60px;
}
.showcase-more {
	width: 100%;
	display: flex;
	justify-content: center;
}
.showcase-more__text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	text-decoration-line: underline;
	color: #FFFFFF;
}
.showcase-item__image {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	margin-bottom: 10px;
	position: relative;
}
.showcase-item__discount {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -10px;
	right: 10px;
	background: #00A550;
	border-radius: 5px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}
.showcase-item__title {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 140%;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.showcase-item__description {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	box-sizing: border-box;
	padding-right: 20px;
	margin-bottom: 30px;
	color: #FFFFFF;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	box-orient: vertical;
}
.showcase-item__button {
	width: 280px;
	height: 45px;
	background: #00A550;
	border-radius: 5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}



/* Smartphones (landscape) ----------- */
@media only screen 
and (max-device-width : 899px) 
and (orientation : landscape) {
	.showcase_discounts {
		max-width: 90%;
	}
	/*.showcase-body {
		display: block;
	}*/
	.showcase-item {
		width: 30%;
		margin-bottom: 30px;
	}
	.showcase-item__image {
		height: 100px;
		border-radius: 5px;
	}
	.showcase_calendar_text {
		font-size: 14px;
	}
	.showcase_calendar {
		justify-content: flex-end;
	}
	.showcase_calendar_pic {
		margin-right: 10px;
		width: 40px;
	}
	.showcase-item__title {
		font-size: 12px;
		margin-bottom: 15px;
	}
	.showcase-item__description {
		font-size: 10px;
		line-height: 14px;
		margin-bottom: 15px;
	}
	.showcase-item__button {
		width: 100%;
		height: 30px;
		font-size: 14px;
	}
	.showcase-more__text {
		font-size: 14px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 899px) 
and (orientation : portrait) {
	.showcase_discounts {
		max-width: 90%;
	}
	.showcase-body {
		display: block;
	}
	.showcase-item {
		width: 100%;
		margin-bottom: 30px;
	}
	.showcase_calendar_text {
		display: none;
	}
	.showcase_calendar {
		justify-content: flex-end;
	}
	.showcase_calendar_pic {
		margin-right: 10px;
		width: 40px;
	}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 900px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.showcase_discounts {
		max-width: 900px;
	}
	/*.showcase-body {
		display: block;
	}*/
	.showcase-item {
		width: 30%;
		margin-bottom: 30px;
	}
	.showcase-item__image {
		height: 150px;
		border-radius: 5px;
	}
	.showcase_calendar_text {
		font-size: 16px;
	}
	.showcase_calendar {
		justify-content: flex-end;
	}
	.showcase_calendar_pic {
		margin-right: 10px;
		width: 40px;
	}
	.showcase-item__title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.showcase-item__description {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 15px;
	}
	.showcase-item__button {
		width: 100%;
		height: 40px;
		font-size: 16px;
	}
	/*.showcase-more__text {
		font-size: 14px;
	}*/
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.showcase_discounts {
		max-width: 700px;
	}
	/*.showcase-body {
		display: block;
	}*/
	.showcase-body {
		display: flex;
	}
	.showcase-item {
		width: 30%;
		margin-bottom: 30px;
	}
	.showcase-item__image {
		height: 100px;
		border-radius: 5px;
	}
	.showcase_calendar_text {
		font-size: 16px;
	}
	.showcase_calendar {
		justify-content: flex-end;
	}
	.showcase_calendar_pic {
		margin-right: 10px;
		width: 40px;
	}
	.showcase-item__title {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.showcase-item__description {
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 20px;
	}
	.showcase-item__button {
		width: 90%;
		height: 40px;
		font-size: 16px;
	}
}
