.slider_mini {
	height: 300px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider-mini_big-item {
	height: 100%;
	width: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.slider-mini_small-item {
	height: 90%;
	width: 25%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#slider_mini_bot {
	display: none;
}
#slider-mini_small-item_top:hover .slider-mini_small-item_back{
	background-color: #00A550;
}
.slider-mini_small-item_back {
	height: 100%;
	width: 100%;
	background-color: #232323;
	transition: .5s;
	opacity: .8;
	z-index: 50;
}
.slider-mini_small-arrow-body {
	position: absolute;
	height: 30%;
	width: 20%;
	top: 35%;
	left: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s;
	z-index: 40;
}
.slider-mini_small-arrow {
	height: 40px;
	width: 40px;
	border: 3px solid #fff;
	border-radius: 6px;
	background-image: url('../../images/arrow-right.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
}


.slider-mini_small-item_hover {
	opacity: 0.9;
	background-color: #00A550;
	transition: .5s;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 899px) 
and (orientation : portrait) {
	.slider-mini_small-arrow-body {
		height: 30px;
		width: 30px;
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -15px;
	}
	.slider_mini {
	    height: 150px;
	}
	.slider-mini_small-arrow {
	    height: 30px;
	    width: 30px;
	    border: 2px solid #fff;
	    background-size: 12px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-device-width : 899px) 
and (orientation : landscape) {
	.slider_mini {
	    height: 200px;
	}
	.slider-mini_small-arrow-body {
		height: 40px;
		width: 40px;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 900px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.slider_mini {
	    height: 250px;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.slider_mini {
	    height: 250px;
	}
}